---
import { Tracks } from "../data/dataCi.json";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap"
      rel="stylesheet"
    />
    <title>CARDS</title>
    <style>
      body {
        background: #000;
        color: #fff;
        font-family: "Kdam Thmor Pro", sans-serif;
        margin: 0;
      }

      .contento {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding: 15px;
      }

      .Card {
        width: calc(100% - 40px);
        max-width: 370px;
        border: 4px solid #fff;
        border-radius: 5px;
        margin: 0 20px 20px 20px;
        box-sizing: border-box;
        padding: 0 20px 0 0;
      }

      .img-profile img {
        width: 80px;
        height: 80px;
        margin-top: 40px;
        border-radius: 50%;
        margin-left: 30px;
      }

      .textos-art {
        margin-left: 30px;
      }

      .txt-artist {
        color: #ff9f33;
      }

      .txt-album {
        color: #ac5b00;
        font-size: 0.8rem;
        margin-top: -5px;
      }

      .img-cover {
        display: flex;
        margin-left: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
      }

      .img-1 img {
        width: 150px;
        height: 150px;
      }

      .img-2 img {
        width: 65px;
        height: 28px;
        margin-left: 56px;
        margin-top: 36px;
        transition: 0.3s;
        justify-content: center;
      }

      .img-2 img:hover {
        scale: 1.2;
        cursor: pointer;
        transition: 0.3s;
      }

      .img-2 p {
        margin-top: -1px;
        margin-left: 46px;
        color: #ff9f33;
        font-size: 12px;
      }

      .data-releas {
        margin-left: 30px;
      }

      .txt-gene {
        color: #ff9f33;
      }

      .txt-relea {
        color: #ac5b00;
        font-size: 0.8rem;
        margin-top: -5px;
      }

      @media screen and (max-width: 768px) {
        .Card {
          width: calc(100% - 40px);
          margin: 0 20px 20px 20px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
        /*.img-cover {
          display: flex;
          flex-direction: column;
          padding: 25px;
        }*/

        .img-2 p {
          text-align: center;
        }
        .img-2 img {
          width: 65px;
          height: 28px;
          margin-left: 52px;
          margin-top: 36px;
          transition: 0.3s;
        }
      }
    </style>
  </head>
  <body>
    <div class="contento">
      {
        Tracks.map(
          ({ artProfile, trackNAme, nameArt, imgArt, gen, fecha, lnk }) => {
            return (
              <div class="Container" id="Container">
                <div class="Card">
                  <div class="img-profile">
                    <img id="artProfile" src={artProfile} alt="fotito perfil" />
                  </div>
                  <div class="textos-art">
                    <a href="/artists">
                      <p class="txt-artist" id="nameArt">
                        {nameArt}
                      </p>
                    </a>
                    <p class="txt-album" id="trackNAme">
                      {trackNAme}
                    </p>
                  </div>

                  <div class="img-cover">
                    <div class="img-1">
                      <img src={imgArt} alt="covercito" />
                    </div>

                    <div class="img-2">
                      <a id="lnk" href={lnk}>
                        <img src="/link.svg" alt="vector del link" />
                      </a>
                      <p>ESCUCHAR EN</p>
                    </div>
                  </div>

                  <div class="data-releas">
                    <p id="gen" class="txt-gene">
                      {gen}
                    </p>
                    <p id="fecha" class="txt-relea">
                      {fecha}
                    </p>
                  </div>
                </div>
              </div>
            );
          }
        )
      }
    </div>
  </body>
</html>
